<!--- Initializing and creating a C8o instance for an Endpoint -->

{% if include.content == '1' %}
{% assign id="1" %}
{% include /custom/code_pills6.html content='1' %}
<div class="tab-content">
    {% if id %}
    <div id="angular{{ id }}" class="tab-pane fade in active">
    <!-- ANGULAR --------------------------------------------------------- -->
    {% highlight typescript %}
    //Into app.module.ts
    import {C8o} from "c8osdkangular";
    import {HttpClientModule} from "@angular/common/http";

    @NgModule({
    imports: [
        BrowserModule,
        HttpClientModule
    ],
    providers: [
        C8o
    ]
    });

    //Into the target page
    import { C8o, C8oSettings } from "c8osdkangular";

    export class MyClass {

        // Instanciate c8o thanks to Angular di (dependency injection)
        constructor(private c8o: C8o) {
            
            // Call init method with a c8osettings class giving an endpoint
            this.c8o.init(new C8oSettings().setEndPoint("http://localhost:18080/convertigo/projects/template_Ionic2"));
            
            // Use the specific method to be sure that init has been finished 
            this.c8o.finalizeInit(()=>{
                // Do stuff with c8o object
            });
        }
    }
    {% endhighlight %}    
    </div>
    <div id="js{{ id }}" class="tab-pane fade">
    <!-- JAVASCRIPT --------------------------------------------------------- -->
    {% highlight js %}
    import { C8o, C8oSettings } from "c8osdkjs"

    // Instantiate C8o
    const c8o = new C8o()

    // Call init method with a c8osettings class giving an endpoint
    c8o.init(new C8oSettings().setEndPoint("http://localhost:18080/convertigo/projects/template_Ionic2"));

    // Use the specific method to be sure that init has been finished 
    c8o.finalizeInit(()=>{
        // Do stuff with c8o object
    });
    {% endhighlight %}
    </div>
    {% endif %}
</div>
{% endif %}

<!--- Advanced instance settings -->

{% if include.content == '2' %}
{% assign id="2" %}
{% include /custom/code_pills6.html content='2' %}
<div class="tab-content">
    {% if id %}
    <div id="angular{{ id }}" class="tab-pane fade in active">
     <!-- ANGULAR --------------------------------------------------------- -->
    {% highlight typescript %}
    //Into app.module.ts
    import {C8o} from "c8osdkangular";
    import {HttpClientModule} from "@angular/common/http";

    @NgModule({
    imports: [
        BrowserModule,
        HttpClientModule
    ],
    providers: [
        C8o
    ]
    });

    //Into the target page
    import { C8o, C8oSettings } from "c8osdkangular";

    export class MyClass {

        // Instanciate c8o thanks to Angular di (dependency injection)
        constructor(private c8o: C8o) {
            
            // Call init method with a c8osettings class giving an endpoint
            this.c8o.init(new C8oSettings().setEndPoint("http://localhost:18080/convertigo/projects/template_Ionic2"));
            
            // Use the specific method to be sure that init has been finished 
            this.c8o.finalizeInit(()=>{
                // Do stuff with c8o object
            });
        }
    }
    {% endhighlight %}    
    </div>
    <div id="js{{ id }}" class="tab-pane fade">
     <!-- JAVASCRIPT --------------------------------------------------------- -->
    {% highlight js %}
    import { C8o, C8oSettings } from "c8osdkjs"
    …
    // The only way
    let settings: C8oSettings = new C8oSettings();
    settings
        .setEndPoint("https://demo.convertigo.net/cems/projects/sampleMobileCtfGallery")
        .setDefaultDatabaseName("mydb_fullsync")
        .setTimeout(30000);
    //Then we need to assign C8oSettings object to our C8o object
    c8o.init(settings);

    //Then to use c8o Object and be sure that initialization has been properly done
    c8o.finalizeInit().then(() => {
        //Do stuff with c8o Object
    })

    // all settings can be retrieve from a C8o or C8oSettings instance
    let timeout : number = c8o.timeout;
    {% endhighlight %}
    </div>
    {% endif %}
</div>
{% endif %}

<!--- Calling a Convertigo requestable -->

{% if include.content == '3' %}
{% assign id="3" %}
{% include /custom/code_pills6.html content='3' %}
<div class="tab-content">
    {% if id %}
    <div id="angular{{ id }}" class="tab-pane fade in active">
     <!-- ANGULAR --------------------------------------------------------- -->
    {% highlight typescript %}
    import { C8o, C8oSettings } from "c8osdkangular"
    // Assuming c8o is a C8o instance properly instanciated and initiated as describe above, and '.login' is the name of a sequence of your project

    // Here using Javascript's Promises with awaiter syntax 
    let result = await this.c8o.callJson('.login')
                        .async();

    // Here using Javascript's Promises with then/catch syntax
    this.c8o.callJson(".login")
        .async()
        .then((response)=>{
        //handle result
        });

    // Using C8oPromise that allow for example progress and Live. C8oPromise is described in Api doc in section Api documentation of this README
    this.c8o.callJson(".login")
        .then((response)=>{
        //handle result
        });
    {% endhighlight %}    
    </div>
    <div id="js{{ id }}" class="tab-pane fade">
     <!-- JAVASCRIPT --------------------------------------------------------- -->
    {% highlight js %}
    import { C8o, C8oSettings } from "c8osdkjs"
    // Assuming c8o is a C8o instance properly instanciated and initiated as describe above, and '.login' is the name of a sequence of your project

    // Here using Javascript's Promises with awaiter syntax 
    let result = await this.c8o.callJson('.login')
                        .async();

    // Here using Javascript's Promises with then/catch syntax
    this.c8o.callJson(".login")
        .async()
        .then((response)=>{
        //handle result
        });

    // Using C8oPromise that allow for example progress and Live. C8oPromise is described in Api doc in section Api documentation of this README
    this.c8o.callJson(".login")
        .then((response)=>{
        //handle result
        });
    {% endhighlight %}
    </div>
    {% endif %}
</div>
{% endif %}

{% if include.content == '4' %}
{% assign id="4" %}
{% include /custom/code_pills6.html content='4' %}
<div class="tab-content">
    {% if id %}
    <div id="angular{{ id }}" class="tab-pane fade in active">
     <!-- ANGULAR --------------------------------------------------------- -->
    {% highlight typescript %}
    import { C8o, C8oSettings } from "c8osdkangular"
    // Assuming c8o is a C8o instance properly instanciated and initiated as describe above, and '.login' is the name of a sequence of your project

    // Here using Javascript's Promises with awaiter syntax 
    let result = await this.c8o.callJson('.login')
                        .async();

    // Here using Javascript's Promises with then/catch syntax
    this.c8o.callJson(".login")
        .async()
        .then((response)=>{
        //handle result
        });

    // Using C8oPromise that allow for example progress and Live. C8oPromise is described in Api doc in section Api documentation of this README
    this.c8o.callJson(".login")
        .then((response)=>{
        //handle result
        });
    {% endhighlight %}    
    </div>
    <div id="js{{ id }}" class="tab-pane fade">
     <!-- JAVASCRIPT --------------------------------------------------------- -->
    {% highlight js %}
    import { C8o, C8oSettings } from "c8osdkjs"
    // Assuming c8o is a C8o instance properly instanciated and initiated as describe above, and '.login' is the name of a sequence of your project

    // Here using Javascript's Promises with awaiter syntax 
    let result = await this.c8o.callJson('.login')
                        .async();

    // Here using Javascript's Promises with then/catch syntax
    this.c8o.callJson(".login")
        .async()
        .then((response)=>{
        //handle result
        });

    // Using C8oPromise that allow for example progress and Live. C8oPromise is described in Api doc in section Api documentation of this README
    this.c8o.callJson(".login")
        .then((response)=>{
        //handle result
        });
    {% endhighlight %}
    </div>
    {% endif %}
</div>
{% endif %}

<!--- Calls parameters -->

{% if include.content == '5' %}
{% assign id="5" %}
{% include /custom/code_pills6.html content='5' %}
<div class="tab-content">
    {% if id %}
    <div id="angular{{ id }}" class="tab-pane fade in active">
     <!-- ANGULAR --------------------------------------------------------- -->
    {% highlight typescript %}
    // Assuming c8o is a C8o instance properly instanciated and initiated as describe above, and '.login' is the name of a sequence of your project

    // Here using Javascript's Promises with awaiter syntax
    let result = await this.c8o.callJsonObject('.login', {
                            login: "barnett.christine",
                            password: "mySuperPassword123"
                            })
                            .async();

    // Here using Javascript's Promises with then/catch syntax
    this.c8o.callJsonObject('.login', {
        login: "barnett.christine",
        password: "mySuperPassword123"
    })
    .async()
    .then((response)=>{
        // handle result
    });

    // Using C8oPromise that allow for example progress and Live. C8oPromise is described in Api doc in section Api documentation of this README.
    this.c8o.callJsonObject(".login",{
        login: "barnett.christine",
        password: "mySuperPassword123"
        })
        .then((response)=>{
        //handle result
        });
    {% endhighlight %}    
    </div>
    <div id="js{{ id }}" class="tab-pane fade">
     <!-- JAVASCRIPT --------------------------------------------------------- -->
    {% highlight js %}
    // Assuming c8o is a C8o instance properly instanciated and initiated as describe above, and '.login' is the name of a sequence of your project

    // Here using Javascript's Promises with awaiter syntax
    let result = await this.c8o.callJsonObject('.login', {
                            login: "barnett.christine",
                            password: "mySuperPassword123"
                            })
                            .async();

    // Here using Javascript's Promises with then/catch syntax
    this.c8o.callJsonObject('.login', {
        login: "barnett.christine",
        password: "mySuperPassword123"
    })
    .async()
    .then((response)=>{
        // handle result
    });

    // Using C8oPromise that allow for example progress and Live. C8oPromise is described in Api doc in section Api documentation of this README.
    this.c8o.callJsonObject(".login",{
        login: "barnett.christine",
        password: "mySuperPassword123"
        })
        .then((response)=>{
        //handle result
        });
    {% endhighlight %}
    </div>
    {% endif %}
</div>
{% endif %}

<!--- Working with threads -->

{% if include.content == '6' %}
{% assign id="6" %}
{% include /custom/code_pills3.html content='6' %}
{% endif %}
{% if include.content == '7' %}
{% assign id="7" %}
{% include /custom/code_pills3.html content='7' %}
{% endif %}

<!--- Chaining calls -->

{% if include.content == '8' %}
{% assign id="8" %}
{% include /custom/code_pills6.html content='8' %}
<div class="tab-content">
    {% if id %}
    <div id="angular{{ id }}" class="tab-pane fade in active">
     <!-- ANGULAR --------------------------------------------------------- -->
    {% highlight typescript %}
    c8o.callJson(".getSimpleData", "callNumber", 1)
    .then((response) => {
        // you can do stuff here and return the next C8oPromise instead of deep nested blocks
        return c8o.callJson(".getSimpleData", "callNumber", 2);
    })
    .then((response)=>{
    // you can do stuff here and even modify previous parameters
    parameters["callNumber"] = 3;
    parameters["extraParameter"] = "ok";
    return c8o.callJsonObject(".getSimpleData", parameters);
    })
    .then((response)=>{
    // you can do stuff here and return null because this is the end of the chain
    return null;
    })
    {% endhighlight %}    
    </div>
    <div id="js{{ id }}" class="tab-pane fade">
     <!-- JAVASCRIPT --------------------------------------------------------- -->
    {% highlight js %}
    c8o.callJson(".getSimpleData", "callNumber", 1)
    .then((response) => {
        // you can do stuff here and return the next C8oPromise instead of deep nested blocks
        return c8o.callJson(".getSimpleData", "callNumber", 2);
    })
    .then((response)=>{
    // you can do stuff here and even modify previous parameters
    parameters["callNumber"] = 3;
    parameters["extraParameter"] = "ok";
    return c8o.callJsonObject(".getSimpleData", parameters);
    })
    .then((response)=>{
    // you can do stuff here and return null because this is the end of the chain
    return null;
    })
    {% endhighlight %}
    </div>
    {% endif %}
</div>
{% endif %}

<!--- Handling failures -->

{% if include.content == '9' %}
{% assign id="9" %}
{% include /custom/code_pills6.html content='9' %}
<div class="tab-content">
    {% if id %}
    <div id="angular{{ id }}" class="tab-pane fade in active">
     <!-- ANGULAR --------------------------------------------------------- -->
    {% highlight typescript %}
    // Assuming c8o is a C8o instance properly instanciated and initiated as describe above, and '.login' is the name of a sequence of your project

    // Here using Javascript's Promises with awaiter
    try{
    let result = await this.c8o.callJsonObject('.login', {
                    login: "barnett.christine",
                    password: "mySuperPassword123"
                }).async();
    }
    catch(error){
    // Do something with the error
    }
    {% endhighlight %}    
    </div>
    <div id="js{{ id }}" class="tab-pane fade">
     <!-- JAVASCRIPT --------------------------------------------------------- -->
    {% highlight js %}
    // Assuming c8o is a C8o instance properly instanciated and initiated as describe above, and '.login' is the name of a sequence of your project

    // Here using Javascript's Promises with awaiter
    try{
    let result = await this.c8o.callJsonObject('.login', {
                    login: "barnett.christine",
                    password: "mySuperPassword123"
                }).async();
    }
    catch(error){
    // Do something with the error
    }
    {% endhighlight %}
    </div>
    {% endif %}
</div>
{% endif %}

{% if include.content == '10' %}
{% assign id="10" %}
{% include /custom/code_pills6.html content='10' %}
<div class="tab-content">
    {% if id %}
    <div id="angular{{ id }}" class="tab-pane fade in active">
     <!-- ANGULAR --------------------------------------------------------- -->
    {% highlight typescript %}
    // Here using Javascript's Promises
    this.c8o.callJsonObject('.login', {
                    login: "barnett.christine",
                    password: "mySuperPassword123"
                }).
                .async()
                .then((response)=>{
                //handle result
                })
                .catch((error)=>{
                // Do something with the error
                })

    // Using C8oPromise that allow for example progress and Live. C8oPromise is described in Api doc in section Api documentation of this README.
    this.c8o.callJsonObject('.login', {
                    login: "barnett.christine",
                    password: "mySuperPassword123"
                }).
                .then((response)=>{
                //handle result
                })
                .fail((error)=>{
                // Do something with the error
                })
    {% endhighlight %}    
    </div>
    <div id="js{{ id }}" class="tab-pane fade">
     <!-- JAVASCRIPT --------------------------------------------------------- -->
    {% highlight js %}
    // Here using Javascript's Promises
    this.c8o.callJsonObject('.login', {
                    login: "barnett.christine",
                    password: "mySuperPassword123"
                }).
                .async()
                .then((response)=>{
                //handle result
                })
                .catch((error)=>{
                // Do something with the error
                })

    // Using C8oPromise that allow for example progress and Live. C8oPromise is described in Api doc in section Api documentation of this README.
    this.c8o.callJsonObject('.login', {
                    login: "barnett.christine",
                    password: "mySuperPassword123"
                }).
                .then((response)=>{
                //handle result
                })
                .fail((error)=>{
                // Do something with the error
                })
    {% endhighlight %}
    </div>
    {% endif %}
</div>
{% endif %}

<!--- Writing the device logs to the Convertigo server  -->

{% if include.content == '11' %}
{% assign id="11" %}
{% include /custom/code_pills6.html content='11' %}
<div class="tab-content">
    {% if id %}
    <div id="angular{{ id }}" class="tab-pane fade in active">
     <!-- ANGULAR --------------------------------------------------------- -->
    {% highlight typescript %}
    try {
        c8o.log.info("hello world!"); // the message can be a simple string
    } catch (error) {
        c8o.log.error("bye world...", error); // the message can also take an error argument
    }
    if (c8o.log.isDebug) { // check if currents log levels are enough
        // enter here only if a log level is 'trace' or 'debug', can prevent unnecessary CPU usage
        let msg : string = serializeData(); // compute a special string, like a Document serialization
        c8o.log.debug(msg);
    }
    {% endhighlight %}    
    </div>
    <div id="js{{ id }}" class="tab-pane fade">
     <!-- JAVASCRIPT --------------------------------------------------------- -->
    {% highlight js %}
    try {
        c8o.log.info("hello world!"); // the message can be a simple string
    } catch (error) {
        c8o.log.error("bye world...", error); // the message can also take an error argument
    }
    if (c8o.log.isDebug) { // check if currents log levels are enough
        // enter here only if a log level is 'trace' or 'debug', can prevent unnecessary CPU usage
        let msg : string = serializeData(); // compute a special string, like a Document serialization
        c8o.log.debug(msg);
    }
    {% endhighlight %}
    </div>
    {% endif %}
</div>
{% endif %}

{% if include.content == '12' %}
{% assign id="12" %}
{% include /custom/code_pills6.html content='12' %}
<div class="tab-content">
    {% if id %}
    <div id="angular{{ id }}" class="tab-pane fade in active">
     <!-- ANGULAR --------------------------------------------------------- -->
    {% highlight typescript %}
    C8oSettings()
        .setLogC8o(false)   // disable log from the Convertigo Client SDK itself
        .setLogRemote(false) // disable remote logging
        .setLogLevelLocal(C8oLogLevel.TRACE);
    {% endhighlight %}    
    </div>
    <div id="js{{ id }}" class="tab-pane fade">
     <!-- JAVASCRIPT --------------------------------------------------------- -->
    {% highlight js %}
    C8oSettings()
        .setLogC8o(false)   // disable log from the Convertigo Client SDK itself
        .setLogRemote(false) // disable remote logging
        .setLogLevelLocal(C8oLogLevel.TRACE);
    {% endhighlight %}
    </div>
    {% endif %}
</div>
{% endif %}

<!--- Using the Local Cache  -->

{% if include.content == '13' %}
{% assign id="13" %}
{% include /custom/code_pills6.html content='13' %}
<div class="tab-content">
    {% if id %}
    <div id="angular{{ id }}" class="tab-pane fade in active">
     <!-- ANGULAR --------------------------------------------------------- -->
    {% highlight typescript %}
    // return the response if is already know and less than 180 sec else call the server

    c8o.callJson(".getSimpleData",
            C8oLocalCache.PARAM, new C8oLocalCache(Priority.LOCAL, 180 * 1000)
        )
        .then((response: any, _) => {
            // do stuff
        });

    // same sample but with parameters, also acting as cache keys

    c8o.callJson(".getSimpleData",
            "firstname", "John",
            "lastname", "Doe",
            C8oLocalCache.PARAM, new C8oLocalCache(Priority.LOCAL, 180 * 1000)
        )
        .then((response: any, _) => {
            // do stuff
        });

    // make a standard network call with the server
    // but in case of offline move or network failure
    // return the response if is already know and less than 1 hour
    c8o.callJson(".getSimpleData",
            C8oLocalCache.PARAM, new C8oLocalCache(Priority.SERVER, 3600 * 1000)
        )
        .then((response: any, _) => {
            // do stuff
        });
    {% endhighlight %}    
    </div>
    <div id="js{{ id }}" class="tab-pane fade">
     <!-- JAVASCRIPT --------------------------------------------------------- -->
    {% highlight js %}
    // Return the response if is already know and less than 180 seconds else call the server
    this.c8o.callJsonObject(".getSimpleData",
                {
                "__localCache": new C8oLocalCache(Priority.LOCAL, 180 * 1000)
                })
                .then((response)=>{
                // Do stuff 
                });

    // same sample but with parameters, also acting as cache keys
    this.c8o.callJsonObject(".getSimpleData",
                {
                "firstname": "John",
                    "lastname": "Doe",
                "__localCache": new C8oLocalCache(Priority.LOCAL, 180 * 1000)
                })
                .then((response)=>{
                // Do stuff 
                });
    // make a standard network call with the server
    // but in case of offline move or network failure
    // return the response if is already know and less than 1 hour
    this.c8o.callJsonObject(".getSimpleData",
                {
                "__localCache": new C8oLocalCache(Priority.SERVER, 3600 * 1000)
                })
                .then((response)=>{
                // Do stuff 
                });
    {% endhighlight %}
    </div>
    {% endif %}
</div>
{% endif %}

<!--- Using the Full Sync -->

{% if include.content == '14' %}
{% assign id="14" %}
{% include /custom/code_pills6.html content='14' %}
<div class="tab-content">
    {% if id %}
    <div id="angular{{ id }}" class="tab-pane fade in active">
     <!-- ANGULAR --------------------------------------------------------- -->
    {% highlight typescript %}
    // clear or create the "base" database
    c8o.callJson("fs://base.reset")
        .then((response: any, parameters:Object) => {
            // response content:
            // { "ok": true }
            return c8o.callJson("fs://base.post", // creates a new document on "base", with 2 key/value pairs
                "firstname", "John",
                "lastname", "Doe"
            );
        })
        .then((response: any, parameters:Object) => {
                // response content:
                // {
                //   "ok": true,
                //   "id": "6f1b52df",
                //   "rev": "1-b0620371"
                // }
                return c8o.callJson("fs://base.get", "docid", response["id"])); // retrieves the complet document from its "docid"
        })
        .then((response: any, parameters:Object) => {
                // response content:
                // {
                //   "lastname": "Doe",
                //   "rev": "1-b0620371",
                //   "firstname": "John",
                //   "_id": "6f1b52df"
                // }
                c8o.log.info(json.stringify(response)); // output the document in the log
            return null;
        });
    {% endhighlight %}    
    </div>
    <div id="js{{ id }}" class="tab-pane fade">
     <!-- JAVASCRIPT --------------------------------------------------------- -->
    {% highlight js %}
    // clear or create the "base" database
    c8o.callJson("fs://base.reset")
        .then((response: any, parameters:Object) => {
            // response content:
            // { "ok": true }
            return c8o.callJson("fs://base.post", // creates a new document on "base", with 2 key/value pairs
                "firstname", "John",
                "lastname", "Doe"
            );
        })
        .then((response: any, parameters:Object) => {
                // response content:
                // {
                //   "ok": true,
                //   "id": "6f1b52df",
                //   "rev": "1-b0620371"
                // }
                return c8o.callJson("fs://base.get", "docid", response["id"])); // retrieves the complet document from its "docid"
        })
        .then((response: any, parameters:Object) => {
                // response content:
                // {
                //   "lastname": "Doe",
                //   "rev": "1-b0620371",
                //   "firstname": "John",
                //   "_id": "6f1b52df"
                // }
                c8o.log.info(json.stringify(response)); // output the document in the log
            return null;
        });
    {% endhighlight %}
    </div>
    {% endif %}
</div>
{% endif %}

<!--- Replicating Full Sync databases  -->

{% if include.content == '15' %}
{% assign id="15" %}
{% include /custom/code_pills6.html content='15' %}
<div class="tab-content">
    {% if id %}
    <div id="angular{{ id }}" class="tab-pane fade in active">
     <!-- ANGULAR --------------------------------------------------------- -->
    {% highlight typescript %}
    // Assuming c8o is a C8o instance properly instanciated and initiated as describe above.

    this.c8o.callJson('.login')
    .then((response)=>{
        if(response == "ok"){
        // The progress can be handled only with C8oPromise,
        // replication_pull can also be sync or replication_push
        this.c8o.callJson('fs://base.replication_pull')
            .then((response)=>{
            // Do stuff with response
            })
            .progress((progress)=>{
            // Do stuff with progress
            });
        }
    });
    {% endhighlight %}    
    </div>
    <div id="js{{ id }}" class="tab-pane fade">
     <!-- JAVASCRIPT --------------------------------------------------------- -->
    {% highlight js %}
    // Assuming c8o is a C8o instance properly instanciated and initiated as describe above.

    this.c8o.callJson('.login')
    .then((response)=>{
        if(response == "ok"){
        // The progress can be handled only with C8oPromise,
        // replication_pull can also be sync or replication_push
        this.c8o.callJson('fs://base.replication_pull')
            .then((response)=>{
            // Do stuff with response
            })
            .progress((progress)=>{
            // Do stuff with progress
            });
        }
    });
    {% endhighlight %}
    </div>
    {% endif %}
</div>
{% endif %}

{% if include.content == '16' %}
{% assign id="16" %}
{% include /custom/code_pills6.html content='16' %}
<div class="tab-content">
    {% if id %}
    <div id="angular{{ id }}" class="tab-pane fade in active">
     <!-- ANGULAR --------------------------------------------------------- -->
    {% highlight typescript %}
    // Assuming c8o is a C8o instance properly instanciated and initiated as describe above.

    // The progress can be handled only with C8oPromise
    this.c8o.callJsonObject('fs://base.replication_pull', {"continuous": true})
        .then((response)=>{
        // Do stuff with response
        })
        .progress((progress)=>{
        // Do stuff with progress
        })

    // this will cancel the previous replication
    this.c8o.callJsonObject('fs://base.replication_pull', {"cancel": true})
        .then((response)=>{
        // Do stuff with response
        })
    {% endhighlight %}    
    </div>
    <div id="js{{ id }}" class="tab-pane fade">
     <!-- JAVASCRIPT --------------------------------------------------------- -->
    {% highlight js %}
    // Assuming c8o is a C8o instance properly instanciated and initiated as describe above.

    // The progress can be handled only with C8oPromise
    this.c8o.callJsonObject('fs://base.replication_pull', {"continuous": true})
        .then((response)=>{
        // Do stuff with response
        })
        .progress((progress)=>{
        // Do stuff with progress
        })

    // this will cancel the previous replication
    this.c8o.callJsonObject('fs://base.replication_pull', {"cancel": true})
        .then((response)=>{
        // Do stuff with response
        })
    {% endhighlight %}
    </div>
    {% endif %}
</div>
{% endif %}

<!--- Full Sync FS_LIVE requests  -->

{% if include.content == '17' %}
{% assign id="17" %}
{% include /custom/code_pills6.html content='17' %}
<div class="tab-content">
    {% if id %}
    <div id="angular{{ id }}" class="tab-pane fade in active">
     <!-- ANGULAR --------------------------------------------------------- -->
    {% highlight typescript %}
    c8o.callJson("fs://.view",
        "ddoc", "design",
        "view", "customers",
        C8O.FS_LIVE, "customers")
        .then((response: any, _) => {  // launches a live view
            // will be call now and after each database update
            updateCustomersUI(json);
            return null;
        });
    …
    // cancel the previous FS_LIVE request, can be on application page change for example
    c8o.cancelLive("customers");
    {% endhighlight %}    
    </div>
    <div id="js{{ id }}" class="tab-pane fade">
     <!-- JAVASCRIPT --------------------------------------------------------- -->
    {% highlight js %}
    c8o.callJson("fs://.view",
        "ddoc", "design",
        "view", "customers",
        C8O.FS_LIVE, "customers")
        .then((response: any, _) => {  // launches a live view
            // will be call now and after each database update
            updateCustomersUI(json);
            return null;
        });
    …
    // cancel the previous FS_LIVE request, can be on application page change for example
    c8o.cancelLive("customers");
    {% endhighlight %}
    </div>
    {% endif %}
</div>
{% endif %}

<!-- Full Sync change listener --->

{% if include.content == '18' %}
{% assign id="18" %}
{% include /custom/code_pills6.html content='18' %}
<div class="tab-content">
    {% if id %}
    <div id="angular{{ id }}" class="tab-pane fade in active">
     <!-- ANGULAR --------------------------------------------------------- -->
    {% highlight typescript %}
    let changeListener : C8oFullSyncChangeListener = new C8oFullSyncChangeListener((changes:Object)=>{
        checkChanges(changes);
    });
    …
    c8o.addFullSyncChangeListener("base", changeListener); // add this listener for the database "base" ; null or "" while use the default database.
    …
    c8o.removeFullSyncChangeListener("base", changeListener); // remove this listener for the database "base" ; null or "" while use the default database.
    {% endhighlight %}    
    </div>
    <div id="js{{ id }}" class="tab-pane fade">
     <!-- JAVASCRIPT --------------------------------------------------------- -->
    {% highlight js %}
    let changeListener : C8oFullSyncChangeListener = new C8oFullSyncChangeListener((changes:Object)=>{
        checkChanges(changes);
    });
    …
    c8o.addFullSyncChangeListener("base", changeListener); // add this listener for the database "base" ; null or "" while use the default database.
    …
    c8o.removeFullSyncChangeListener("base", changeListener); // remove this listener for the database "base" ; null or "" while use the default database.
    {% endhighlight %}
    </div>
    {% endif %}
</div>
{% endif %}
